*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153667,#4e0854);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin:  100px auto 20px ;
    padding: 30px 40px 70px;
    border-radius: 10px;
}
.todoapp h2{
    color: darkslategray;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoapp img{
    width: 20px;
    margin-left: 10px;
}
